.container {
  margin-top: 40px;
  background-color: lightblue;
}




header {
  border: 3px solid black;
  font-size: 23px;
  text-align: center;
  margin: 0 auto;
  height: 150px;
  width: 80%;
  position: relative;
}

.buttonbox {
  text-align: center;
  display: inline;
}

#things {
  margin-top: 25px;
  background-color: blue;
  color: white;
  border-radius: 6px;
}

#animals {
  margin-top: 25px;
  background-color: blue;
  color: white;
  border-radius: 6px;
}

#colors {
  margin-top: 25px;
  background-color: blue;
  color: white;
  border-radius: 6px;
}


#guess {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  
}

#wins {
  margin-left: 50px;
}

#losses {
  margin-right: 50px;
}

#choose {
  padding: -60px;
  margin-top: 20px;
  margin-left: 60px;
}



.underscore {
  border: 3px solid black;
  font-size: 100px;
  text-align: center;
  margin: 30px auto;
  height: 150px;
  width: 80%;
}

.letters {
  border: 3px solid black;
  font-size: 40px;
  text-align: center;
  margin: 25px auto;
  height: 150px;
  width: 80%;
}

#guessesLeft {
  font-size: 20px;
  float: left;
}
